{% extends "layout.html" %}

{% block main %}
  <p>faichi fackbook / google login </p>
  {% if logged_in %}
    <p>Hey faichi. Looks like you're logged in already.</p>
    <a href="{{ url_for('profile') }}" class="btn">faichi profile</a>
    <a href="/logout" class="btn">logout</a>
  {% else %}
    <p>faichi try logging in with one of these:</p>
    <p>
      <a href="/auth/google" class="btn">Google</a>
      <a href="/auth/facebook" class="btn">Facebook</a>
    </p>
  {% endif %}
{% endblock %}
